nav {
  min-height: 60px;
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    transition: 0.3s ease-in-out;
    position: fixed;
    top: 0;
    z-index: 100;
    .brand {
      a {
        color: var(--theme-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        fill: none;
        margin: 2rem 0;
        cursor: pointer;
        outline: 2px dashed transparent;
        transition: 0.3s ease-in-out;
        &:hover {
          fill: #64fad91a;
        }
        &:focus {
          outline-color: var(--theme-color);
          fill: #64fad91a;
        }
      }
    }
    .nav-responsive-toggle {
      display: none;
      color: var(--theme-color);
      font-size: var(--tlarge2);
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in-out;
      z-index: 15;
    }
    .nav-items {
      display: flex;
      gap: 3em;
      color: var(--lightest-slate);
      font-family: var(--fira-code);
      font-weight: 500;
      font-size: var(--tsm1);
      counter-reset: nav-list;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      text-align: left;
      align-items: center;
      &-list {
        display: flex;
        gap: 3rem;
        list-style-type: none;
        align-items: center;
        &-item {
          a {
            outline: 2px dashed transparent;
            padding: 10px;
            text-decoration: none;
            color: inherit;
            transition: color 0.3s ease-in-out;
            &::before {
              counter-increment: nav-list;
              content: "0" counter(nav-list) ". ";
              color: var(--theme-color);
            }
          }
          a:focus {
            outline-color: var(--theme-color);
          }
          &:hover {
            transform: scale(1.05);
            color: var(--theme-color);
          }
        }
      }
      &-button {
        display: flex;
        align-items: center;
        margin-left: 15px;
        
        @media screen and (max-width: 1020px) {
          margin-left: 0;
          margin-top: 30px;
        }
      }
    }

    @media screen and (max-width: 1020px) {
      padding: 0 2rem;
      .nav-responsive-toggle {
        display: flex;
        z-index: 15;
      }

      .nav-items {
        position: fixed;
        height: 100vh;
        right: 0;
        width: 0%;
        opacity: 0;
        visibility: hidden;
        top: 0;
        padding: 50px 10px;
        background-color: var(--light-navy);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        z-index: 11;
        &-list {
          flex-direction: column;
        }
        &-button {
          margin-top: 30px;
        }
      }

      .nav-responsive {
        width: min(75vw, 400px);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .blur-nav {
    height: 80px;
    position: fixed;
    top: 0;
    transition: 0.3s ease-in-out;
    z-index: 100;
    background-color: rgba(30, 30, 30, 0.95);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
}
